<!-- Location List -->
<div class="location-list">
    <div class="row">

        <!-- Clinic Content -->
        <div class="col-md-6">
            <div class="clinic-content">
                <h4 class="clinic-name"><a href="#">Smile Cute Dental Care Center</a></h4>
                <p class="doc-speciality">MDS - Periodontology and Oral Implantology, BDS</p>
                <div class="rating">
                    <i class="fa fa-star filled"></i>
                    <i class="fa fa-star filled"></i>
                    <i class="fa fa-star filled"></i>
                    <i class="fa fa-star filled"></i>
                    <i class="fa fa-star"></i>
                    <span class="d-inline-block average-rating">(4)</span>
                </div>
                <div class="clinic-details mb-0">
                    <h5 class="clinic-direction"> <i class="fa fa-map-marker"></i> 2286
                        Sundown Lane, Austin, Texas 78749, USA <br><a href="javascript:void(0);">Get Directions</a></h5>
                </div>
            </div>
        </div>
        <!-- /Clinic Content -->

        <!-- Clinic Timing -->
        <div class="col-md-4">
            <div class="clinic-timing">
                <div>
                    <p class="timings-days">
                        <span> Mon - Sat </span>
                    </p>
                    <p class="timings-times">
                        <span>10:00 AM - 2:00 PM</span>
                        <span>4:00 PM - 9:00 PM</span>
                    </p>
                </div>
                <div>
                    <p class="timings-days">
                        <span>Sun</span>
                    </p>
                    <p class="timings-times">
                        <span>10:00 AM - 2:00 PM</span>
                    </p>
                </div>
            </div>
        </div>
        <!-- /Clinic Timing -->

        <div class="col-md-2">
            <div class="consult-price">
                $250
            </div>
        </div>
    </div>
</div>
<!-- /Location List -->

<!-- Location List -->
<div class="location-list">
    <div class="row">

        <!-- Clinic Content -->
        <div class="col-md-6">
            <div class="clinic-content">
                <h4 class="clinic-name"><a href="#">The Family Dentistry Clinic</a></h4>
                <p class="doc-speciality">MDS - Periodontology and Oral Implantology, BDS</p>
                <div class="rating">
                    <i class="fa fa-star filled"></i>
                    <i class="fa fa-star filled"></i>
                    <i class="fa fa-star filled"></i>
                    <i class="fa fa-star filled"></i>
                    <i class="fa fa-star"></i>
                    <span class="d-inline-block average-rating">(4)</span>
                </div>
                <div class="clinic-details mb-0">
                    <p class="clinic-direction"> <i class="fa fa-map-marker"></i> 2883
                        University Street, Seattle, Texas Washington, 98155 <br><a href="javascript:void(0);">Get
                            Directions</a></p>
                </div>

            </div>
        </div>
        <!-- /Clinic Content -->

        <!-- Clinic Timing -->
        <div class="col-md-4">
            <div class="clinic-timing">
                <div>
                    <p class="timings-days">
                        <span> Tue - Fri </span>
                    </p>
                    <p class="timings-times">
                        <span>11:00 AM - 1:00 PM</span>
                        <span>6:00 PM - 11:00 PM</span>
                    </p>
                </div>
                <div>
                    <p class="timings-days">
                        <span>Sat - Sun</span>
                    </p>
                    <p class="timings-times">
                        <span>8:00 AM - 10:00 AM</span>
                        <span>3:00 PM - 7:00 PM</span>
                    </p>
                </div>
            </div>
        </div>
        <!-- /Clinic Timing -->

        <div class="col-md-2">
            <div class="consult-price">
                $350
            </div>
        </div>
    </div>
</div>
<!-- /Location List -->