<!-- Profile Sidebar -->
<div class="profile-sidebar">
    <div class="widget-profile pro-widget-content">
        <div class="profile-info-widget">
            <a href="#" class="booking-doc-img">
                <img src="assets/img/doctors/doctor-thumb-02.jpg" alt="User Image">
            </a>
            <div class="profile-det-info">
                <h3>Dr. Darren Elder</h3>

                <div class="patient-details">
                    <h5 class="mb-0">BDS, MDS - Oral & Maxillofacial Surgery</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="dashboard-widget">
        <nav class="dashboard-menu">
            <ul>
                <li class="active">
                    <a [routerLink]="['/dashboard']" routerLinkActive="router-link-active">
                        <i class="fa fa-columns"></i>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li>
                    <a [routerLink]="['appointments-list']" routerLinkActive="router-link-active">
                        <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
                        <span>Appointments</span>
                    </a>
                </li>
                <li>
                    <a [routerLink]="['patients']" routerLinkActive="router-link-active">
                        <i class="fa fa-user"></i>
                        <span>My Patients</span>
                    </a>
                </li>
                <li>
                    <a href="schedule-timings.html">
                        <i class="fa fa-hourglass-start"></i>
                        <span>Schedule Timings</span>
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/login']" routerLinkActive="router-link-active">
                        <i class="fa fa-sign-out-alt"></i>
                        <span>Logout</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
<!-- /Profile Sidebar -->