<!-- Doctor Widget -->
<div class="card">
  <div class="card-body">
    <div class="doctor-widget">
      <div class="doc-info-left">
        <div class="doctor-img">
          <a href="doctor-profile.html">
            <img src="assets/img/doctors/doctor-thumb-01.jpg" class="img-fluid" alt="User Image">
          </a>
        </div>
        <div class="doc-info-cont">
          <h4 class="doc-name"><a href="doctor-profile.html">Dr. Ruby Perrin</a></h4>
          <p class="doc-speciality">MDS - Periodontology and Oral Implantology, BDS</p>
          <h5 class="doc-department"><img src="assets/img/specialities/specialities-05.png" class="img-fluid"
              alt="Speciality">Dentist</h5>
          <div class="rating">
            <i class="fa fa-star filled"></i>
            <i class="fa fa-star filled"></i>
            <i class="fa fa-star filled"></i>
            <i class="fa fa-star filled"></i>
            <i class="fa fa-star"></i>
            <span class="d-inline-block average-rating">(17)</span>
          </div>
          <div class="clinic-details">
            <p class="doc-location"><i class="fa fa-map-marker-alt"></i> Florida, USA</p>
          </div>
          <div class="clinic-services">
            <span>Dental Fillings</span>
            <span> Whitneing</span>
          </div>
        </div>
      </div>
      <div class="doc-info-right">
        <div class="clini-infos">
          <ul>
            <li><i class="fa fa-thumbs-up"></i> 98%</li>
            <li><i class="fa fa-comment"></i> 17 Feedback</li>
            <li><i class="fa fa-map-marker-alt"></i> Florida, USA</li>
            <li><i class="fa fa-money-bill-alt"></i> $300 - $1000 <i class="fa fa-info-circle" data-toggle="tooltip"
                title="Lorem Ipsum"></i> </li>
          </ul>
        </div>
        <div class="clinic-booking">
          <a class="view-pro-btn" href="doctor-profile.html">View Profile</a>
          <a class="btn btn-primary btn-sm" href="booking.html">Book Appointment</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Doctor Widget -->

<!-- Doctor Widget -->
<div class="card mt-3">
  <div class="card-body">
    <div class="doctor-widget">
      <div class="doc-info-left">
        <div class="doctor-img">
          <a href="doctor-profile.html">
            <img src="assets/img/doctors/doctor-thumb-02.jpg" class="img-fluid" alt="User Image">
          </a>
        </div>
        <div class="doc-info-cont">
          <h4 class="doc-name"><a href="doctor-profile.html">Dr. Darren Elder</a></h4>
          <p class="doc-speciality">BDS, MDS - Oral & Maxillofacial Surgery</p>
          <h5 class="doc-department"><img src="assets/img/specialities/specialities-05.png" class="img-fluid"
              alt="Speciality">Dentist</h5>
          <div class="rating">
            <i class="fa fa-star filled"></i>
            <i class="fa fa-star filled"></i>
            <i class="fa fa-star filled"></i>
            <i class="fa fa-star filled"></i>
            <i class="fa fa-star"></i>
            <span class="d-inline-block average-rating">(35)</span>
          </div>
          <div class="clinic-services">
            <span>Dental Fillings</span>
            <span> Whitneing</span>
          </div>
        </div>
      </div>
      <div class="doc-info-right">
        <div class="clini-infos">
          <ul>
            <li><i class="fa fa-thumbs-up"></i> 100%</li>
            <li><i class="fa fa-comment"></i> 35 Feedback</li>
            <li><i class="fa fa-map-marker-alt"></i> Newyork, USA</li>
            <li><i class="fa fa-money-bill-alt"></i> $50 - $300 <i class="fa fa-info-circle" data-toggle="tooltip"
                title="Lorem Ipsum"></i></li>
          </ul>
        </div>
        <div class="clinic-booking">
          <a class="view-pro-btn" href="doctor-profile.html">View Profile</a>
          <a class="btn btn-primary btn-sm" href="booking.html">Book Appointment</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Doctor Widget -->

<!-- Doctor Widget -->
<div class="card mt-3">
  <div class="card-body">
    <div class="doctor-widget">
      <div class="doc-info-left">
        <div class="doctor-img">
          <a href="doctor-profile.html">
            <img src="assets/img/doctors/doctor-thumb-03.jpg" class="img-fluid" alt="User Image">
          </a>
        </div>
        <div class="doc-info-cont">
          <h4 class="doc-name"><a href="doctor-profile.html">Dr. Deborah Angel</a></h4>
          <p class="doc-speciality">MBBS, MD - General Medicine, DNB - Cardiology</p>
          <p class="doc-department"><img src="assets/img/specialities/specialities-04.png" class="img-fluid"
              alt="Speciality">Cardiology</p>
          <div class="rating">
            <i class="fa fa-star filled"></i>
            <i class="fa fa-star filled"></i>
            <i class="fa fa-star filled"></i>
            <i class="fa fa-star filled"></i>
            <i class="fa fa-star"></i>
            <span class="d-inline-block average-rating">(27)</span>
          </div>
          <div class="clinic-details">
            <p class="doc-location"><i class="fa fa-map-marker-alt"></i> Georgia, USA</p>
          </div>
          <div class="clinic-services">
            <span>Dental Fillings</span>
            <span> Whitneing</span>
          </div>
        </div>
      </div>
      <div class="doc-info-right">
        <div class="clini-infos">
          <ul>
            <li><i class="fa fa-thumbs-up"></i> 99%</li>
            <li><i class="fa fa-comment"></i> 35 Feedback</li>
            <li><i class="fa fa-map-marker-alt"></i> Newyork, USA</li>
            <li><i class="fa fa-money-bill-alt"></i> $100 - $400 <i class="fa fa-info-circle" data-toggle="tooltip"
                title="Lorem Ipsum"></i></li>
          </ul>
        </div>
        <div class="clinic-booking">
          <a class="view-pro-btn" href="doctor-profile.html">View Profile</a>
          <a class="btn btn-primary btn-sm" href="booking.html">Book Appointment</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Doctor Widget -->

<!-- Doctor Widget -->
<div class="card mt-3">
  <div class="card-body">
    <div class="doctor-widget">
      <div class="doc-info-left">
        <div class="doctor-img">
          <a href="doctor-profile.html">
            <img src="assets/img/doctors/doctor-thumb-04.jpg" class="img-fluid" alt="User Image">
          </a>
        </div>
        <div class="doc-info-cont">
          <h4 class="doc-name"><a href="doctor-profile.html">Dr. Sofia Brient</a></h4>
          <p class="doc-speciality">MBBS, MS - General Surgery, MCh - Urology</p>
          <p class="doc-department"><img src="assets/img/specialities/specialities-01.png" class="img-fluid"
              alt="Speciality">Urology</p>
          <div class="rating">
            <i class="fa fa-star filled"></i>
            <i class="fa fa-star filled"></i>
            <i class="fa fa-star filled"></i>
            <i class="fa fa-star filled"></i>
            <i class="fa fa-star"></i>
            <span class="d-inline-block average-rating">(4)</span>
          </div>
          <div class="clinic-details">
            <p class="doc-location"><i class="fa fa-map-marker-alt"></i> Louisiana, USA</p>
          </div>
          <div class="clinic-services">
            <span>Dental Fillings</span>
            <span> Whitneing</span>
          </div>
        </div>
      </div>
      <div class="doc-info-right">
        <div class="clini-infos">
          <ul>
            <li><i class="fa fa-thumbs-up"></i> 97%</li>
            <li><i class="fa fa-comment"></i> 4 Feedback</li>
            <li><i class="fa fa-map-marker-alt"></i> Newyork, USA</li>
            <li><i class="fa fa-money-bill-alt"></i> $150 - $250 <i class="fa fa-info-circle" data-toggle="tooltip"
                title="Lorem Ipsum"></i></li>
          </ul>
        </div>
        <div class="clinic-booking">
          <a class="view-pro-btn" href="doctor-profile.html">View Profile</a>
          <a class="btn btn-primary btn-sm" href="booking.html">Book Appointment</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Doctor Widget -->

<!-- Doctor Widget -->
<div class="card mt-3">
  <div class="card-body">
    <div class="doctor-widget">
      <div class="doc-info-left">
        <div class="doctor-img">
          <a href="doctor-profile.html">
            <img src="assets/img/doctors/doctor-thumb-06.jpg" class="img-fluid" alt="User Image">
          </a>
        </div>
        <div class="doc-info-cont">
          <h4 class="doc-name"><a href="doctor-profile.html">Dr. Katharine Berthold</a></h4>
          <p class="doc-speciality">MS - Orthopaedics, MBBS, M.Ch - Orthopaedics</p>
          <p class="doc-department"><img src="assets/img/specialities/specialities-03.png" class="img-fluid"
              alt="Speciality">Orthopaedics</p>
          <div class="rating">
            <i class="fa fa-star filled"></i>
            <i class="fa fa-star filled"></i>
            <i class="fa fa-star filled"></i>
            <i class="fa fa-star filled"></i>
            <i class="fa fa-star"></i>
            <span class="d-inline-block average-rating">(52)</span>
          </div>
          <div class="clinic-details">
            <p class="doc-location"><i class="fa fa-map-marker-alt"></i> Texas, USA</p>
          </div>
          <div class="clinic-services">
            <span>Dental Fillings</span>
            <span> Whitneing</span>
          </div>
        </div>
      </div>
      <div class="doc-info-right">
        <div class="clini-infos">
          <ul>
            <li><i class="fa fa-thumbs-up"></i> 100%</li>
            <li><i class="fa fa-comment"></i> 52 Feedback</li>
            <li><i class="fa fa-map-marker-alt"></i> Texas, USA</li>
            <li><i class="fa fa-money-bill-alt"></i> $100 - $500 <i class="fa fa-info-circle" data-toggle="tooltip"
                title="Lorem Ipsum"></i></li>
          </ul>
        </div>
        <div class="clinic-booking">
          <a class="view-pro-btn" href="doctor-profile.html">View Profile</a>
          <a class="btn btn-primary btn-sm" href="booking.html">Book Appointment</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Doctor Widget -->
<div class="load-more text-center mt-3">
  <a class="btn btn-primary btn-sm" href="javascript:void(0);">Load More</a>
</div>
